<!DOCTYPE html>
<html>
  <head>
    <title>Portifolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		  <link rel="stylesheet" href="../assets/animate.min.css">
        <link rel="stylesheet" href="../assets/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/templatemo-style.css">
        <script src="../assets/jquery.js"></script>
        <script src="../assets/bootstrap.min.js"></script>
        <script src="../assets/jquery.singlePageNav.min.js"></script>
        <script src="../assets/typed.js"></script>
        <script src="../assets/wow.min.js"></script>
        <script src="../assets/custom.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
